
:host {
    display: block;
    font-family: 'Arial', sans-serif;
}

.card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.card-container img {
    width: 100%;
}

.card-details {
    padding: 2px 16px;
}

.card-title {
    font-size: 22px;
    margin: 10px 0;
}

.card-role {
    color: grey;
    font-size: 18px;
}