:host {
  display: block;
  font-family: "Arial", sans-serif;
}

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
}

.card-header {
  background-color: #ff0000;
  padding: 10px;
  color: white;
  font-size: 18px;
  text-align: center;
}

.card-image-container {
  display: flex;

  justify-content: center;

  align-items: center;

  overflow: hidden;
}

.card-image {
  max-width: 100%;
  max-height: 200px;

  object-fit: cover;
}

.card-details {
  background-color: #f3f3f3;
  padding: 16px;
  text-align: center;
}

.card-title {
  font-size: 22px;
  margin-bottom: 4px;
}

.card-role {
  color: grey;
  font-size: 18px;
}

.card-header {
  background-color: red;
}

.card-title {
  padding: 10px;
  color: white;
}
